<div class="categories categories-profile">
	<%= link_to filter_index_all_profiles_categories_path(category: "all"), remote: true do %>
		<div class="category-link-wrapper active">
			<div class="category-name">All</div>
		</div>
	<% end %>
	<% Category.all.each do |category| %>

		<%= link_to filter_index_all_profiles_categories_path(category: category), remote: true do %>
			<div class="category-link-wrapper">
				<div class="category-name"><%= category.name %></div>
			</div>
		<% end %>

	<% end %>
</div>

<% company_skills_names = session[:company_skills].map { |company_skill| company_skill["name"] } %>
<% company_skills_names.each do |company_skill_name| %>
	<%= company_skill_name %>
	<p>******************************</p>
<% end %>

<div class="skills skills-profils">

	<% CompanySkill.all.each do |company_skill| %>
		<% if company_skills_names.include? company_skill.name %>
			<%= link_to filter_index_all_profiles_remove_from_session_path(company_skill_id: company_skill), method: :get, remote: true, class: "link-not-included" do  %>
				<div class="skill skill-profile is-included js-category-skill-all-profiles-btn %>">
					<div class="name">
						<%= company_skill.name %>
					</div>
				</div>
			<% end %>
		<% else %>
		<div class="">
			<%= link_to filter_index_all_profiles_add_to_session_path(company_skill_id: company_skill), method: :get, remote: true, class: "link-not-included" do  %>
				<div class="skill skill-profile not-included js-category-skill-all-profiles-btn %>">
					<div class="name">
						<%= company_skill.name %>
					</div>
				</div>
			<% end %>
		</div>
		<% end %>

	<% end %>
</div>

<div id="js-profiles-wrapper">
	<%= render "profiles/profiles", profiles: @profiles  %>
</div>