<% own_company_skills = @profile.own_company_skills %>
<% own_company_skills_names = own_company_skills.map { |skill| skill.name } %>	
		
<% is_included = own_company_skills_names.include? company_skill.name %>

<% own_company_skill = own_company_skills.where(name: company_skill.name)[0] %>

<% if is_included %>

	<div class="btn-round md green">
		<div class="name">
			<%= company_skill.name %>
		</div>

		<% if own_company_skill.rating == 1 %>
			<%= link_to own_company_skill_path(@profile, id: company_skill), method: :delete, remote: true do %>
				<% is_painted = own_company_skill.rating >= 1 %>
				<i class="fa fa-star <%= is_painted ? 'icon-star-yellow' : 'icon-star-white' %>" aria-hidden="true"></i>
			<% end %>
		<% else %>
			<%= link_to own_company_skill_path(@profile, own_company_skill, rating: 1, company_skill_id: company_skill), method: :put, remote: true do %>
				<% is_painted = own_company_skill.rating >= 2 %>
				<i class="fa fa-star <%= is_painted ? 'icon-star-yellow' : 'icon-star-white' %>" aria-hidden="true"></i>
			<% end %>
		<% end %>

		<%= link_to own_company_skill_path(@profile, own_company_skill, rating: 2, company_skill_id: company_skill), method: :put, remote: true do %>
			<% is_painted = own_company_skill.rating >= 2 %>
			<i class="fa fa-star <%= is_painted ? 'icon-star-yellow' : 'icon-star-white' %>" aria-hidden="true"></i>
		<% end %>

		<%= link_to own_company_skill_path(@profile, own_company_skill, rating: 3, company_skill_id: company_skill), method: :put, remote: true do %>
			<% is_painted = own_company_skill.rating >= 3 %>
			<i class="fa fa-star <%= is_painted ? 'icon-star-yellow' : 'icon-star-white' %>" aria-hidden="true"></i>
		<% end %>

	</div>
	
<% else %>
	
	<div class="btn-round md gray">
		<div class="name">
			<%= company_skill.name %>
		</div>
		<%= link_to own_company_skills_path(@profile, company_skill_id: company_skill, rating: 1), method: :post, remote: true do %>
			<i class="fa fa-star icon-star-white" aria-hidden="true"></i>
		<% end %>
		<%= link_to own_company_skills_path(@profile, company_skill_id: company_skill, rating: 2), method: :post, remote: true do %>
			<i class="fa fa-star icon-star-white" aria-hidden="true"></i>
		<% end %>
		<%= link_to own_company_skills_path(@profile, company_skill_id: company_skill, rating: 3), method: :post, remote: true do %>
			<i class="fa fa-star icon-star-white" aria-hidden="true"></i>
		<% end %>
		
	</div>
	
<% end %>



