<%# session[:company_skills].each do |company_skill| %>
	<%#= company_skill[:name] %>
<%# end %>
<%#= session[:category]["name"] %>

<div class="general-filter-all-profiles">
	<div class="categories js-categories">
		<%= link_to remove_category_session_path, remote: true do %>
			<div class="category-link-wrapper <%= "active" if session[:category]["id"].nil? %> js-index-general-category-btn">
				<div class="category-name">All</div>
			</div>
		<% end %>
		<% @categories.each do |category| %>
			<%= link_to add_category_session_path(category: category), remote: true do %>
				<div class="category-link-wrapper <%= "active" if session[:category]["name"] == category.name %> js-index-general-category-btn">
					<div class="category-name"><%= category.name %></div>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class="round-btns-grid margin-sides-indexxxx" id="js-index-general-company-skills">
		<%= render "profiles/index-general-company-skills", company_skills: @company_skills %>
	</div>
</div>

<div class="filtered_company_skills index-filter-results-panels" id="js-filtered_company_skills">
	<% company_skills = session[:company_skills] %>
	<%= render "company_skills/filtered_company_skills", company_skills: company_skills %>
</div>

<div class="filter_results index-filter-results-panels">
	<i class="fa fa-filter" aria-hidden="true"></i>
	<div class="message">
		number of matched profiles: 200
	</div>
</div>

<div id="js-profiles-wrapper">
	<%= render "profiles/profiles", profiles: @profiles  %>
</div>




