<h1>profile index</h1>

<% @profiles.each do |profile| %>
	<div class="contact-info">
		<div class="avatar"></div>
		<div class="block">
			<div class="info name"><%= "#{profile.first_name} #{profile.last_name}" %></div>
			<div class="info position"><%= profile.position %></div>
		</div>
		<div class="block">
			<div class="info"><%= profile.user.email %></div>
			<div class="info"><%= profile.phone_number %></div>
		</div>
		<div class="block">
			<div class="info"><%= profile.division %></div>
			<div class="info"><%= profile.team %></div>
		</div>
	</div>
	<div class="profile-wrapper">
		
		<div class="curriculum-card">
			<% unless profile.curriculums.length == 0 %>
				<div class="title-date-wrapper">
					<div class="title">
						<%= profile.curriculums.last.title %>
					</div>
					<div class="date">
						<%= profile.curriculums.last.created_at.strftime("%b %d, %Y") %>
					</div>
				</div>
				<% if profile.curriculums.last.document? %>
				  <object class="document" type="text/html" data='<%= profile.curriculums.last.document.url %>'></object>
				<% end %>
			<% end %>
		</div>

		<div class="skills-wrapper">

			<div class="categories categories-profile">
				<%= link_to filter_categories_profiles_path(category: "all", profile_id: profile), remote: true do %>
					<div class="category-link-wrapper active">
						<div class="category-name">All</div>
					</div>
				<% end %>
				<% @categories.each do |category| %>

					<%= link_to filter_categories_profiles_path(category: category, profile_id: profile), remote: true do %>
						<div class="category-link-wrapper">
							<div class="category-name"><%= category.name %></div>
						</div>
					<% end %>

				<% end %>
			</div>

			<div class="skills skills-profils" data-profile-skills-id="<%= profile.id %>">
				<%= render "profiles/own_company_skills", own_company_skills: profile.own_company_skills %>
			</div>
		</div>

		<div class="projects-wrapper">
			<div class="project-card">
				<div class="header">
					<div class="client">BMW Group</div>
					<div class="period">5.6.2016 - 7.2.2018</div>
				</div>
				<div class="title-description">
					SE-Team Leiter Abteilung EK40 i15 Carbon Fiber Parts
				</div>
			</div>
			<div class="project-card">
				<div class="header">
					<div class="client">BMW Group</div>
					<div class="period">5.6.2016 - 7.2.2018</div>
				</div>
				<div class="title-description">
					SE-Team Leiter Abteilung EK40 i15 Carbon Fiber Parts
				</div>
			</div>
		</div>

	</div>

<% end %>