<div class="categories categories-profile">
	<%= link_to filter_index_all_profiles_categories_path(category: "all"), remote: true do %>
		<div class="category-link-wrapper active">
			<div class="category-name">All</div>
		</div>
	<% end %>
	<% @categories.each do |category| %>

		<%= link_to filter_index_all_profiles_categories_path(category: category), remote: true do %>
			<div class="category-link-wrapper">
				<div class="category-name"><%= category.name %></div>
			</div>
		<% end %>

	<% end %>
</div>

<% session[:company_skills].each do |company_skill| %>
	<%= company_skill["name"] %>
	<p>i</p>
<% end %>

<div class="round-btns-grid">
	<% @company_skills.each do |company_skill| %>
		<div data-company-skill-index-id="<%= company_skill.id %>">
			<%= render "profiles/company_skill_index", company_skill: company_skill %>
		</div>
	<% end %>
</div>

<div id="js-profiles-wrapper">
	<%= render "profiles/profiles", profiles: @profiles  %>
</div>




