<p>session variables</p>
<% session[:company_skills].each do |company_skill| %>
	<%= company_skill[:name] %>
<% end %>
<%= session[:category]["name"] %>

<div class="categories categories-profile">
	<%= link_to remove_category_session_path, remote: true do %>
		<div class="category-link-wrapper <%= "active" if session[:category]["id"].nil? %>">
			<div class="category-name">All</div>
		</div>
	<% end %>
	<% @categories.each do |category| %>
		<%= link_to filter_profiles_by_category_by_company_skill_path(category: category), remote: true do %>
			<div class="category-link-wrapper <%= "active" if session[:category]["name"] == category.name %>">
				<div class="category-name"><%= category.name %></div>
			</div>
		<% end %>
	<% end %>
</div>

<div class="round-btns-grid">
	<% @all_company_skills.each do |company_skill| %>
		<div data-company-skill-index-id="<%= company_skill.id %>">
			<%= render "profiles/company_skill_index", company_skill: company_skill %>
		</div>
	<% end %>
</div>

<div id="js-profiles-wrapper">
	<%= render "profiles/profiles", profiles: @profiles  %>
</div>




