<div class="profile-show-page">

	<div class="banner-profile">
		<div class="landscape" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
			<%= image_tag "http://kitt.lewagon.com/placeholder/users/albertmontolio", class: "avatar-big pos-avatar" %>
			<div class="borders-big pos-borders-big"></div>
		</div>
		
		<div class="info-wrapper">
			<div class="header">
				<div class="name"><%= "#{@profile.first_name} #{@profile.last_name}" %></div>
				<div class="stelle"><%= @profile.position %></div>
			</div>
			<div class="details">
				<div class="block1 block">
					<div class="detail">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<%= @profile.user.email %>
					</div>
					<div class="detail">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<%= @profile.phone_number %>
					</div>
					<div class="detail">
						<i class="fa fa-birthday-cake" aria-hidden="true"></i>
						Was born on the <%= @profile.birthday %>
					</div>
				</div>
				<div class="block2 block">
					<div class="detail">
						<i class="fa fa-users" aria-hidden="true"></i>
						His division is <%= @profile.division %>
					</div>
					<div class="detail">
						<i class="fa fa-male" aria-hidden="true"></i>
						My boss is <%= @profile.team %>
					</div>
					<div class="detail">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						Is by WAY since <%= @profile.startway %>
					</div>
				</div>
				<div class="block3 block">
					<div class="detail">
						<i class="fa fa-flag" aria-hidden="true"></i>
						From <%= @profile.nationality %>
					</div>
					<div class="detail">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						Works in Germany
					</div>
					<div class="detail">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						Left WAY on the <%= @profile.endway %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="profile-wrapper">
		<div class="curriculum-cards">
			<div class="curriculum-card-new">
				<div class="title">
					Introduce your curriculum
				</div>
				<%= simple_form_for @curriculum do |f| %>
					<%= f.input :title, placeholder: "curriculum title", label: false %>
					<%= f.input :document, label: false %>
					<%= f.input :document_cache, as: :hidden %>
					<%= f.button :submit, class: "btn-submit" %>
				<% end %>
			</div>
			
			<% @curriculums.each do |curriculum| %>
				<div class="curriculum-card">
					<div class="title-date-wrapper">
						<div class="title">
							<%= curriculum.title %>
						</div>
						<div class="date">
							<%= curriculum.created_at.strftime("%b %d, %Y") %>
						</div>
					</div>
					<% if curriculum.document? %>
					  <object class="document" type="text/html" data='<%= curriculum.document.url %>'></object>
					<% end %>
				</div>
			<% end %>
			
		</div>

		<div class="skills-wrapper">
			<div class="categories">
				<%= link_to profile_filter_profile_per_categories_path(@profile, category: "all"), remote: true do %>
					<div class="category-link-wrapper big active">
						<div class="category-name">All</div>
					</div>
				<% end %>
				<% @categories.each do |category| %>
					<%= link_to profile_filter_profile_per_categories_path(@profile, category: category), remote: true do %>
						<div class="category-link-wrapper big">
							<div class="category-name"><%= category.name %></div>
						</div>
					<% end %>
				<% end %>
			</div>

			<div class="round-btns-grid" id="js-company-skills">
				<%= render "company_skills_show", company_skills: @company_skills %>
			</div>
		</div>



		<!-- My projects -->
		<div class="projects-wrapper">
			<div class="new-project-form">
				<div class="title">
					Introduce new project
				</div>
				<%= simple_form_for @project, remote: true do |f| %>
					<%= f.input :title, label: false, placeholder: "Project title" %>
					<%= f.input :client, label: false, placeholder: "Client" %>
					<div class="to">From</div>
					<%= f.input :start, as: :date, label: false %>
					<div class="to">To</div>
					<%= f.input :finish, as: :date, label: false %>
					<%= f.button :submit, class: "btn-submit" %>
				<% end %>
			</div>

			<div id="projects-show-wrapper">
				<% current_user.profile.projects.each do |project| %>
					<%= render "profiles/project", project: project %>
				<% end %>
			</div>
		</div>
	</div>

</div>








