<div class="profile-show-page">

	<div class="contact-info">
		<div class="avatar"></div>
		<div class="block">
			<div class="info name"><%= "#{@profile.first_name} #{@profile.last_name}" %></div>
			<div class="info position"><%= @profile.position %></div>
		</div>
		<div class="block">
			<div class="info"><%= @profile.user.email %></div>
			<div class="info"><%= @profile.phone_number %></div>
		</div>
		<div class="block">
			<div class="info"><%= @profile.division %></div>
			<div class="info"><%= @profile.team %></div>
		</div>
	</div>

	<div class="profile-wrapper">
		<div class="curriculum-card">
			<div class="">
				<% @curriculums.each do |curriculum| %>
					<div class="curriculum-card">
						<div class="title-date-wrapper">
							<div class="title">
								<%= curriculum.title %>
							</div>
							<div class="date">
								<%= curriculum.created_at.strftime("%b %d, %Y") %>
							</div>
						</div>
						<% if curriculum.document? %>
						  <object class="document" type="text/html" data='<%= curriculum.document.url %>'></object>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>

		<div class="skills-wrapper">
			<div class="">
				<%= link_to profile_filter_profile_per_categories_path(@profile, category: "all"), remote: true do %>
					<div class="category-link-wrapper big active">
						<div class="category-name">All</div>
					</div>
				<% end %>
				<% @categories.each do |category| %>
					<%= link_to profile_filter_profile_per_categories_path(@profile, category: category), remote: true do %>
						<div class="category-link-wrapper big">
							<div class="category-name"><%= category.name %></div>
						</div>
					<% end %>
				<% end %>
			</div>

			<div class="round-btns-grid" id="js-company-skills">
				<%= render "company_skills_show", company_skills: @company_skills %>
			</div>
		</div>



		<!-- My projects -->
		<div class="projects-wrapper">
			<% current_user.profile.projects.each do |project| %>
				<%= render "profiles/project", project: project %>
			<% end %>
		</div>
	</div>

</div>







