<div class="profile-show-page">
	
	<h1>my employee card</h1>

	<div class="fancy title"><span>My curriculums</span></div>

	<div class="curriculum-cards">
		<% @curriculums.each do |curriculum| %>
			<div class="curriculum-card">
				<div class="title-date-wrapper">
					<div class="title">
						<%= curriculum.title %>
					</div>
					<div class="date">
						<%= curriculum.created_at.strftime("%b %d, %Y") %>
					</div>
				</div>
				<% if curriculum.document? %>
				  <object class="document" type="text/html" data='<%= curriculum.document.url %>'></object>
				<% end %>
			</div>
		<% end %>

		<div class="curriculum-card-new">
			<%= simple_form_for @curriculum do |f| %>
				<%= f.input :title %>
				<%= f.input :document %>
				<%= f.input :document_cache, as: :hidden %>
				<%= f.button :submit %>
			<% end %>
		</div>
	</div>


	<div class="fancy title"><span>My company skills</span></div>

	<div class="categories">
		<%= link_to profile_path(current_user.profile, category: "all"), remote: true do %>
			<div class="category-link-wrapper">
				<div class="category-name">All</div>
			</div>
		<% end %>
		<% @categories.each do |category| %>

			<%= link_to profile_path(current_user.profile, category: category), remote: true do %>
				<div class="category-link-wrapper">
					<div class="category-name"><%= category.name %></div>
				</div>
			<% end %>

		<% end %>
	</div>

	<div class="skills" id="js-skills-wrapper">
		<%= render "skills", company_skills: @company_skills %>
	</div>


	<div class="fancy title"><span>My own skills</span></div>


	<div class="skills">
		
		<% @own_skills.each do |own_skill| %>
			<%= link_to own_skill_path(own_skill), method: :delete, class: "link-own-skill" do  %>
				<div class="skill is-included">
					<div class="name">
						<%= own_skill.name %>
					</div>
					<i class="fa fa-times icon" aria-hidden="true"></i>
				</div>
			<% end %>
		<% end %>

	</div>

	<div class="round-inline-form">
		
		<%= simple_form_for @own_skill do |f| %>
			<div class="inputs-wrapper">
				<%= f.input :name, label: false, class: "name" %>
				<%= button_tag(type: 'submit', class: "submit-btn") do %>
				    <i class="fa fa-plus icon-plus" aria-hidden="true"></i>
				  <% end %>				
			</div>

		<% end %>

	</div>
</div>







