<h1>pairs</h1>

<div class="">
	<%= simple_form_for @pair do |f| %>
		<%= f.input :category, collection: Category.all %>
		<%= f.input :company_skill %>
		<%= f.button :submit %>
	<% end %>
</div>

<% @pairs.each do |pair| %>
	<div class="pair">
		<div class="category">
			<%= pair.category.name %>
		</div>
		<div class="company_skill">
			<%= pair.company_skill.name %>
		</div>
	</div>
	<p>*****************************</p>
<% end %>

<h1>Category</h1>
<div class="">
	<%= simple_form_for @category do |f| %>
		<%= f.input :name %>
		<%= f.button :submit %>
	<% end %>
</div>

<% @categories.each do |category| %>
	<div class="category-name">
		<%= category.name %>
	</div>
<% end %>
