<div class="navbar">

	<div class="left-navbar">
		<%= link_to root_path do  %>
			<div class="logo">
				<%= image_tag("way-book-edited", size: "100x25") %>
			</div>
		<% end %>

		<form action="/search_employee" class="search-form">
		  <input type="text" name="name" placeholder="Search employee" class="input-text">
		  <div class="submit-btn-wrapper">
		  	<button type="submit" value="Submit" class="search-btn">
				<i class="fa fa-search" aria-hidden="true"></i>
		  	</button>
		  </div>
		</form>

		<form action="/search_skills" class="search-form">
		  <input type="text" name="skills" placeholder="Search skill" class="input-text">
		  <div class="submit-btn-wrapper">
		  	<button type="submit" value="Submit" class="search-btn">
				<i class="fa fa-search" aria-hidden="true"></i>
		  	</button>
		  </div>
		</form>
		
	</div>


	<div class="right-navbar">

		<div class="app-btns">
			
			<%= link_to search_employee_path, class: "employees-btn app-btn" do %>
				<i class="fa fa-address-book-o" aria-hidden="true"></i>
				<div class="text">
					Employees
				</div>
			<% end %>
			
			<%= link_to profiles_path, class: "skills-btn app-btn" do %>
				<i class="fa fa-list" aria-hidden="true"></i>
				<div class="text">
					Skills
				</div>
			<% end %>
			
		</div>

		<div class="other-apps">
	      <div class="dropdown other-apps">
			<i class="fa fa-th icon" aria-hidden="true" class="dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>

			<div class="dropdown-menu dropdown-menu-right">
				<div class="other-apps-content">
					<div class="roww">
						<%= link_to root_path, class: "link colo1" do  %>
							
								<i class="fa fa-pie-chart icon" aria-hidden="true"></i>
								<div class="text">
									WAY Data
								</div>
							
							
						<% end %>

						<a target="_blank" href="http://www.zep.de/" class="link colo2">
							<i class="fa fa-clock-o icon" aria-hidden="true"></i>
							<div class="text">
								WAY ZEP
							</div>
						</a>
						
					</div>
					<div class="roww">

						<a target="_blank" href="https://schulungssystem.waygroup.de/" class="link colo3">
							<i class="fa fa-file-text-o icon" aria-hidden="true"></i>
							<div class="text">
								W.H.A.T.
							</div>
						</a>

						<a target="_blank" href="http://www.waygroup.de/" class="link colo4">
							<i class="fa fa-home icon" aria-hidden="true"></i>
							<div class="text">
								Way Group
							</div>
						</a>
						
						
					</div>
				</div>
			</div>
	      </div>
	     </div>
					
		<img class="avatar" id="" src="" alt="">
	</div>
	  
</div>




